body{
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background: white;
	font-family: sans-serif;
}
#page-wrapper{
	display: flex;
	justify-content: center;
}
#sections{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
.heading-container{
	display: flex;
	justify-content: center;
}
#bingo-container{
	display: grid;
	grid-template-columns: repeat(5, 10vh);
	gap: 1vh;

	-moz-transition:  all .2s ease-in-out;
	-o-transition:  all .2s ease-in-out;
	-webkit-transition:  all .2s ease-in-out;
	transition:  all .2s ease-in-out;
}
.bingo-box{
	width: 10vh;
	height: 10vh;
	border-radius: 0.5vh;

	background: #ddd;

	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;

	font-weight: bolder;
	color: #777;
}
.bingo-box:hover{
	background: #aaa;
}
.bingo-text{

	margin: 0.2vw;
}
.bingo-box:click{
	background: #edd;
}
#line-container{
}
.bingo-line{
	position: absolute;
	background: rgba(255,128,128,0.0);

	border-radius: 2vh;
	pointer-events: none;

	-moz-transition:  all .2s linear;
	-o-transition:  all .2s linear;
	-webkit-transition:  all .2s linear;
	transition:  all .2s linear;
}
.bingo-line:hover{
	display: unset;
}
.bingo-column{
	width: 1vh;
	height: 52vh;
	bottom: 1vh;
}
#col1{left: 4.5vh;}
#col2{left: 15.5vh;}
#col3{left: 26.5vh;}
#col4{left: 37.5vh;}
#col5{left: 48.5vh;}

.bingo-row{
	width: 52vh;
	height: 1vh;
	left: 1vh;
}
#row1{bottom: 4.5vh;}
#row2{bottom: 15.5vh;}
#row3{bottom: 26.5vh;}
#row4{bottom: 37.5vh;}
#row5{bottom: 48.5vh;}

.bingo-diag{
	width: 72vh;
	height: 1vh;
	left: -9vh;
	bottom: 26.5vh;
}
#diag1{transform: rotateZ(45deg);}
#diag2{transform: rotateZ(-45deg);}